**/__pycache__/
.ipynb_checkpoints/
.vscode/

data/lexicon/
data/raw/kt4.0/
data/raw/pretrained/
data/processed/kt.csv
data/processed/kt-bert.sav
data/processed/bert-base-thai/
data/processed/wanchabert/zip/

output-scratch/

# ignore w2v large files
data/final/train-val-test/train_text_w2v_tfidf_kt.pkl
data/final/train-val-test/train_text_w2v_tfidf_ws.pkl

/12classifier_TFIDF1_test.csv
/12classifier_TFIDF1_val.csv
/ws.sav
/PLS.py


wandb
src/models/wandb
models/best_model_h5
